* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../imgs/1.jpg) no-repeat;
  background-size: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.baiduSearch {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.baiduSearch #keyword {
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding-left: 5%;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(184, 184, 184);
  outline: none;
}

#keyword:focus {
  outline: none;
  border-color: #4b94fc;
}
#keyword:active {
  border-color: #4b94fc;
}

.baiduSearch #search {
  cursor: pointer;
  width: 104px;
  height: 40px;
  line-height: 38px;
  padding: 0;
  background-color: #38f;
  font-size: 16px;
  color: #fff;
  box-shadow: none;
  font-weight: 400;
  border: 1px solid #38f;
}

.baiduSearch #search:hover {
  background-color: #317ef9;
}

#keyBoard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  transform: rotateX(-15deg) skew(5deg);
  background: rgba(184, 180, 180, 0.4);
  border-radius: 10px;
}

#keyBoard .lineKey {
  display: flex;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) ;
  margin: 10px;
}

#keyBoard .lineKey .key {
  position: relative;
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) -10px 10px 5px;
  list-style: none;
  margin: 0px 10px;
  border-radius: 20%;
  background: #181818;
  color: #fff;
  cursor: pointer;
}

.active {
  animation: press 1s ease-in-out forwards;
  color: #ff9933 !important;
}

#keyBoard .lineKey .key img {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 14px;
  height: 14px;
}

#keyBoard .lineKey .key>span {
  position: absolute;
}

#keyBoard .lineKey .key .text {
  left: 10px;
  top: 5px;
}

@keyframes press {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.key .show {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

.key .show span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
  color: #fff;
  font-size: 30px;
  transition: 0.2s;
  border-radius: 20%;
  font-size: 18px;
  z-index: -1;
}

.key:hover .show span {
  transition: 1s;
  color: #fff;
}

.key:hover .show span:nth-child(1) {
  z-index: 10;
  transform: translate(5px, -5px);
  opacity: 0.4;
}
.key:hover .show span:nth-child(2) {
  z-index: 10;
  transform: translate(10px, -10px);
  opacity: 0.6;
}
.key:hover .show span:nth-child(3) {
  z-index: 10;
  transform: translate(15px, -15px);
  opacity: 0.8;
}
.key:hover .show span:nth-child(4) {
  z-index: 10;
  transform: translate(20px, -20px);
  opacity: 1;
}

.key:nth-child(1) .show span {
  background: #ff9999;
}
.key:nth-child(2) .show span {
  background: #FF99CC;
}
.key:nth-child(3) .show span {
  background: #FFFF99;
}
.key:nth-child(4) .show span {
  background: #0077b5;
}
.key:nth-child(5) .show span {
  background: #9933ff;
}
.key:nth-child(6) .show span {
  background: #99cccc;
}
.key:nth-child(7) .show span {
  background: #ff6666;
}
.key:nth-child(8) .show span {
  background: #55acee;
}
.key:nth-child(9) .show span {
  background: #25d366;
}
.key:nth-child(10) .show span {
  background: #3b5999;
}